.vacation-title{
    margin-left: 7.5rem;
    margin-bottom: -0.1rem;
    margin-top: 5rem;
}
.add-vacation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 1rem;
}

.vacation-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.vacation-table {
    width: 82%;
    border-collapse: collapse;
    margin-top: 20px;

}

.vacation-table th {
    background-color: #3575D2;
    color: white;
    padding: 10px;
    text-align: left;
}

.vacation-table td {
    border: 1px solid #E6E7E9;
    padding: 10px;
}